In [1]:
import pandas as pd

In [2]:
Machining = pd.read_csv('Machining.csv')

In [3]:
Machining

     X_pos  X_neg   Y_pos  Y_neg  Z_pos  Z_neg  Rot_pos  Rot_neg  Finish
0     2.31  6.575  4.0900    1.0   15.3   4.98    296.0   396.90    24.0
1     7.07  6.421  4.9671    2.0   17.8   9.14    242.0   396.90    21.6
2     7.07  7.185  4.9671    2.0   17.8   4.03    242.0   392.83    34.7
3     2.18  6.998  6.0622    3.0   18.7   2.94    222.0   394.63    33.4
4     2.18  7.147  6.0622    3.0   18.7   5.33    222.0   396.90    36.2
..     ...    ...     ...    ...    ...    ...      ...      ...     ...
501  11.93  6.593  2.4786    1.0   21.0   9.67    273.0   391.99    22.4
502  11.93  6.120  2.2875    1.0   21.0   9.08    273.0   396.90    20.6
503  11.93  6.976  2.1675    1.0   21.0   5.64    273.0   396.90    23.9
504  11.93  6.794  2.3889    1.0   21.0   6.48    273.0   393.45    22.0
505  11.93  6.030  2.5050    1.0   21.0   7.88    273.0   396.90    11.9

[506 rows x 9 columns]

In [4]:
Machining.shape

(506, 9)

In [5]:
X = Machining.drop(columns = ['Finish'])
y = Machining['Finish']

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [8]:
from sklearn.impute import SimpleImputer
import numpy as np

imputer = SimpleImputer(missing_values=np.nan, strategy='median')
imputer.fit(X_train)
X_train = imputer.transform(X_train)

In [9]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)

In [10]:
from sklearn.linear_model import LinearRegression

regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [11]:
X_test = imputer.transform(X_test)
X_test = scaler.transform(X_test)
y_pred = regressor.predict(X_test)

In [12]:
y_pred[0:40]

array([28.79656557, 32.00388969, 13.87079071, 24.66955695, 19.22821203,
       21.98124821, 17.90001544, 13.27226321, 21.18561069, 20.79200063,
       21.3330046 , 19.90809981, -4.55075818, 21.0048139 , 19.79359979,
       25.4468307 , 19.51480595,  5.12780508, 39.0209439 , 18.45156324,
       26.83398847, 28.48806971, 11.56290547, 24.95563304, 18.28751939,
       14.24178573, 21.87304339, 14.7118627 , 18.97969031, 19.57905986,
       21.60736517, 26.01738556, 27.1151466 , 19.42210926, 14.53023859,
       20.52170666, 32.51619532, 21.59333216, 20.58674597, 24.06063037])

In [13]:
y_test.values[0:40]

array([23.6, 32.4, 13.6, 22.8, 16.1, 20. , 17.8, 14. , 19.6, 16.8, 21.5,
       18.9,  7. , 21.2, 18.5, 29.8, 18.8, 10.2, 50. , 14.1, 25.2, 29.1,
       12.7, 22.4, 14.2, 13.8, 20.3, 14.9, 21.7, 18.3, 23.1, 23.8, 15. ,
       20.8, 19.1, 19.4, 34.7, 19.5, 24.4, 23.4])